.form-container {
  padding: 20px;
  width: 400px;
  @media (max-width: 560px) {
    width: 100%;
    padding: 0;
  }
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  @media (max-width: 560px) {
    margin: 15px;
  }
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  @media (max-width: 560px) {
    width: auto;
  }
}

button[type="submit"] {
  width: 100%;
  background-color: #125f9c;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #125f9c;
}
