body {
  margin: 0px;
    height: 100%;
}
#root {
  height: 100%;
}
.MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0;
}
.CustomLabel {
  margin-top: 15px;
  font-size: 12px;
}
.LoginLeftCol {
  background: url(assets/images/login-banner.jpg) no-repeat #DAAA02;
  background-size: contain;
}
.LoginRightCol {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.IncrementNumbers{
      border: 1px solid rgba(33, 118, 185, 0.50);
        border-radius: 4px;
        padding: 3px 0px;
}
.IncrementNumbersTextBox .MuiInputBase-root.MuiOutlinedInput-root {
  border: none;
  margin-left: 6px;
  margin-right: 6px;
}
.IncrementNumbersTextBox .MuiInputBase-root.MuiOutlinedInput-root .MuiInputBase-input {
  font-weight: 600;
  color: rgba(0, 0, 0, 0.87);
  padding: 5px 5px !important;
  text-align: center;
  font-family: 15px;
}
.BannerImg2Container {
  display: flex;
  justify-content: right;
}
.BannerImg2Container .MuiGrid-root {
  margin-right: 40px;
}
.BannerImg4 {
  margin-right: 40px;
  margin-bottom: 40px;
  margin-top: 70px;
}
.BannerImg1 {
  margin-bottom: 40px;
}
.HomeMainHeading {
  padding-left: 40px;
  margin-bottom: 40px;
  padding-right: 40px;
  text-align: center;
}
.DesignImgBox img, .BannerImg1 img,
.BannerImg2 img,
.BannerImg4 img,
.BannerImg5 img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0px 7px 8px -4px rgba(0, 0, 0, 0.20), 0px 12px 17px 2px rgba(0, 0, 0, 0.14), 0px 5px 22px 4px rgba(0, 0, 0, 0.12);
}
.BannerImg1 img {
  border-radius: 0 20px 20px 0;
}
.BannerImg5 img {
  border-radius: 20px 0 0 0;
}
.BannerImg5Container {
  display: flex;
  justify-content: flex-end;
}
.HomeMidCol {
  padding-left: 40px;
  padding-right: 40px;
}
.CustomError {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  margin-top: 8px;
  margin-left: 0;
  padding-left: 24px;
  background-image: url(assets/images/Error-Icon.svg);
  background-repeat: no-repeat;
  background-position: left 2px;
}
.Fullheight {
  height: 100vh;
}
.LoginWrapper {
  padding: 30px;
  width: 100%;
}
.ContentWrapper {
  height: 100vh;
}
.InputFldBox {
  margin-bottom: 20px;
}
.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-shrink {
  /* transform: translate(14px, -20px) scale(0.75); */
  background: #fff;
}
.MuiInputBase-root.MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}
.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: transparent;
}
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline:hover {
  border-color: transparent;
}
.LoginHeading {
  margin-bottom: 25px;
}
.InputButtonBox {
  margin-bottom: 40px;
}
.HomeSubTitle {
  display: flex;
  align-items: center;
  padding-left: 40px;
  margin-bottom: 40px;
  padding-right: 40px;
  justify-content: center;
}
.HomeSubTitle .MuiTypography-root {
  margin-right: 15px;
}
.HomePageContainer {
  padding-top: 80px;
  min-height: calc(100vh - 60px);
  background: url(assets/images/banner-img-6.jpg) no-repeat bottom right;
    background-size: 30%;
}
.PageSpacing {
  margin-top: 80px;
}
.StepContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 50px;
}
textarea {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  width: calc(100% - 30px);
  resize: none;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
}
textarea:hover,
textarea:focus {
  border-color: #003057;
  box-shadow: 0px 1px 8px #003057;
}
textarea:focus-visible {
  outline: none;
}
textarea::placeholder {
  color: rgba(0, 0, 0, 0.87);
}
.TextareaLabel {
  position: relative;
  top: 9px;
  left: 15px;
  background: #fff;
  display: inline;
}
.ActionButtonBox {
  display: flex;
  justify-content: flex-end;
}
.ActiveStep .MuiTypography-root {
  color: #003057;
}
.InActiveStep .MuiTypography-root {
  color: rgba(0, 0, 0, 0.60);
}
.StepBox .MuiTypography-root {
  font-weight: 500;
}
.StepContainer {
  position: relative;
  /* display: flex; */
}

.StepDivider {
  position: absolute;
  width: 20%;
  top: 50%;
  min-width: 200px;
  transform: translate(-50%, -50%);
  left: 50%;
}
.StepDivider.FirstDivider {
  transform: translate(-150%, -50%);
}
.StepDivider.SecondDivider {
  transform: translate(50%, -50%);
}
.DesignRequestContent {
  padding-left: 25px;
  padding-right: 25px;
}
@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  
}
@media screen and (min-device-width: 320px) and (max-device-width: 360px) {
 
}
@media screen and (min-device-width: 320px) and (max-device-width: 767px) {

}