.product-details-container {
  display: flex;
  flex-direction: column;
}

.back-button {
  cursor: pointer;
  margin-bottom: 20px;
}

.image-section {
  width: 70%;
  position: relative;
}

.view-visualizer-button {
  position: absolute;
  margin: 16px 0 0 16px;
  background-color: #fff;
}

.download-button {
  background-color: #fff;
  min-width: auto;
  position: absolute;
  margin: 16px 16px 0 0;
  right: 0;
}

.product-main-image {
  width: 100%;
  border-radius: 15px;
  /* margin-left: 50px; */
  /* Adjust as needed to fit your layout */
}

.details-section {
  width: 20%;
  padding-left: 50px; /* Adjust as needed */
}

.product-title {
  /* Style your product title */
  font-size: 20px;
}

.colors svg {
  color: #003057;
}

.color-swatches {
  display: flex;
  margin-bottom: 20px;
}

.swatches {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns */
  grid-template-rows: repeat(2, 1fr); /* 2 rows */
  gap: 10px;
  /* margin-bottom: 10px; */
}

.swatch {
  width: 60px; /* Adjust size as needed */
  height: 60px; /* Adjust size as needed */
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 5px;
  /*background-color: blue; /* Add border for swatches */
}
.swatch:hover {
  border: 2px solid #003057;
}

.formats .MuiTypography-h6 {
  color: #003057;
  text-decoration: underline;
}

.details-container {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.main-details {
  flex: 8;
}

.header {
  flex-basis: 100%;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  margin-right: 20px;
}

.content ul {
  padding-left: 15px;
}
.content ul a {
  color: #003057;
  text-decoration: underline;
}

.details-container .sidebar {
  width: 200px;
  flex: 4;
  /* Assuming each section is a collapsible accordion */
  /* border: 1px solid #000; */
}

/* You can add more specific styles such as colors, fonts, and other stylings to match the design of the provided image. */
